body{
  font: 15px/1.5;
  font-family: Lato, serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f0ec;
}
/* Global*/
.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.button_1{
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
/*  Header */
#header{
  background: #79A8D2;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #9FC1DF 10px solid;
}
header ul{
  margin: 0;
  padding: 0;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul{
  vertical-align: middle;
}
header li{
  float: left;
  text-align: center;
  display: inline-block;
  padding: 15px 20px 0 20px;
}

header #branding{
  float: left;
  display: flex;
  width: 400px;
  margin-top: 10px;
  align-items: center;
  justify-content: center
}
header #branding_text{
  font-size: 30px;
}
header nav{
  float: right;
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  height: 170px;
  margin-top: 10px;
}
.header_img{
  float: left;
  vertical-align: middle;
  margin-right: 40px;
  width: 100px;
}
header .highlight, header .current a{
  color: #ffffff;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}
/* Section */
section {
  float: right;
  width: 55%;
  text-align: center;
  padding-top: 50px;
  padding-right: 10%;
  font-size: 25px;
}
.section_title{
  color: #3a4755;
  background-color: #ffffff;
  width: 25%;
  border-radius: 100px;
  margin-left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
section header{
  font-size: 20px;
  font-weight: bold;
}
/* Card Class*/
.card {
  /* Add shadows to create the "card" effect */
  color: #3a4755;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 100px;
  text-decoration: none;
  background-color: #ffffff;
  min-width: 900px;
  min-height: 400px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}
.card_a{
  text-decoration: none;
  color: inherit;
}

.card_hr{
  width:30%;
  margin-top: -20px;
  border: 2px solid;
  border-radius: 5px;
}
.card_list{
  text-align: left;
  font-size: 15px
}
.card_info_container{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}
.card_desc{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px
}
.card_img{
  float: right;
  margin-left: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 250px;
  border: 3px solid #555;
  border-radius: 10px;
}
