body{
  font-family: Lato, serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f0ec;
}
/* Global*/
.container{
  width: 100%;
  margin: auto;
  overflow: auto;
}
/*  Header */
#header{
  margin: 0px 0px 0px 0px;
  background: #79A8D2;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  width: 100%;
  border-bottom: #9FC1DF 10px solid;
}
header ul{
  margin: 0;
  padding: 0;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
header ul{
  vertical-align: middle;
}
header li{
  float: left;
  text-align: center;
  display: inline-block;
  padding: 15px 20px 0 20px;
}

header #branding{
  float: left;
  color: #ffffff;
  display: flex;
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  justify-content: center
}
header #branding_text{
  font-size: 2rem;
}
header nav{
  float: right;
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  height: 170px;
  margin-top: 10px;
}
.header_img{
  vertical-align: middle;
  width: 100px;
}
header .highlight, header .current a{
  color: #ffffff;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}
nav a:hover{
  color: #cccccc;
  font-weight: bold;
}
/* Section */
section {
  width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5625rem;
}
.section_title{
  color: #3a4755;
  margin: auto;
  background-color: #ffffff;
  width: 25%;
  min-width: 12.5rem;
  border-radius: 100px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
}
section header{
  font-size: 1.25rem;
  font-weight: bold;
}
/* Card Class*/
.card {
  /* Add shadows to create the "card" effect */
  color: #3a4755;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 20px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: inherit;
}
/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}
.card_a{
  text-decoration: none;
  color: inherit;
}
:hover{
  color: #000000;
}

.card_hr{
  width:30%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 5px;
}
.card_list{
  text-align: left;
  font-size: 1rem;
  color: inherit;
}
.card_info_container{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}
.card_desc{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: inherit;
}
.card_img{
  float: right;
  margin-left: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
  height: auto;
  border: 3px solid #555;
  border-radius: 10px;
}
.container-fluid{
  margin: 0px 0px 0px 0px;
  background: #79A8D2;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  width: 100%;
  border-bottom: #9FC1DF 10px solid;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #ffffff;
}
@media screen and (max-width: 600px){
  section {
    width: 70%;
  }
}
