body *,
body *:before,
body *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
body{
  font-family: Lato, serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  /* position:relative; */
  padding: 0;
  margin: 0;
  background-color: #f1f0ec;
  box-sizing: initial;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#branding{
}
#name {
  font-size: 6vw;
}
.header_img{
  width: 6vw;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
/* Nav */
.nav-link{
  font-size: 1vw;
}
.flex-column{
  align-items: center;
  vertical-align: middle;
}
.nav-link{
  color: #ffffff;
  display: flex;
}
.nav-link:hover{
  color: #ffffff;
}
.container-fluid{
  margin: 0px 0px 0px 0px;
  background: #79A8D2;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  width: 100%;
  border-bottom: #9FC1DF 10px solid;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #ffffff;
}
nav{
  width: 100%
}
nav a:hover{
  color: #cccccc;
  font-weight: bold;
}
/* Section */
section {
  width: 55%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.5625rem;
}
.section_title{
  color: #3a4755;
  margin: auto;
  background-color: #ffffff;
  width: 25%;
  min-width: 12.5rem;
  border-radius: 100px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
}
.section_info{
  color: #3a4755;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  background-color: #ffffff;
  width: 90%;
  min-width: 12.5rem;
  border-radius: 100px;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
}
section header{
  font-size: 1.25rem;
  font-weight: bold;
}
#info {
  /* Add shadows to create the "card" effect */
  width: 80%;
  margin: auto;
  color: #3a4755;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
}
/* Card Class*/
.card {
  /* Add shadows to create the "card" effect */
  color: #3a4755;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: inherit;
  text-decoration: none;
}
/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}
.card_a, .card_a:hover{
  text-decoration: none;
  color: inherit;
}
.card_hr{
  width:30%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  border-radius: 5px;
}
.card_title{
  padding-top: 1rem;
  font-size: 2rem;
}
.card_list{
  text-align: left;
  padding-left: 6rem;
  font-size: 1rem;
  color: inherit;
}
.card_info_container{
  /* display: flex; */
  margin-top: 15px;
  margin-left: 15px;
}
.card_desc{
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: inherit;
}
.card_img{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 80%;
  height: auto;
  border: 3px solid #555;
  border-radius: 10px;
}
@media screen and (max-width: 600px){
  section {
    width: 70%;
  }
}
